*.foreground:   #d7d7d7
*.background:   #005f87 
*.cursorColor:  #00afaf

! black
*.color0:  #444444
*.color8:  #878787

! red
*.color1:  #af005f
*.color9:  #d70087

! green 
*.color2:  #5faf5f
*.color10: #afd700

! yellow 
*.color3:  #d75f00
*.color11: #ffaf00

! blue
*.color4:  #5fafd7
*.color12: #5fafff

! magenta
*.color5:  #d70087
*.color13: #8700af

! cyan
*.color6:  #afd7d7
*.color14: #afd7d7

! white
*.color7:  #808080
*.color15: #d0d0d0


URxvt*font: xft:Inconsolata for Powerline:style=Medium:size=14:antialias=true

URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000

URxvt*iso14755: false
